<template>
    <div class="g-layerWrap">
        <div class="m-dialog">
            <div class="dialog-mainWrap">
                <div class="dialog-iconWrap">
                  <ul>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
            </div>
            <div class="dialog-btnWrap retainbt">
                <div class="btn" type="button">{{message}}</div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    @media screen and (min-width: 320px) {
        html {
            font-size: 10px;
        }
    }
    @media screen and (min-width: 375px) {
        html {
            font-size: 12px;
        }
    }
    @media screen and(min-width: 414px) {
        html {
            font-size: 14px;
        }
    }
    @media screen and(min-width: 600px) {
        html {
            font-size: 16px;
        }
    }

    ul{
      height: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    li{
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      background: transparent;
      border: 10px solid rgba(23,246,251, 1.0);
      border-radius: 500px;
      transition: all 0.5s ease;
    }

    li:first-child{
      margin-left: -40px;
      margin-top: -40px;
      width: 60px;
      height: 60px;
      border-color: #d4d800;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      animation: spin7 2s infinite linear;
    }

    li:nth-child(2) {
      margin-left: -30px;
      margin-top: -30px;
      width: 40px;
      height: 40px;
      border-color: #c18b00;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: spin8 2s infinite linear;
    }

    /* Animations */
    @keyframes spin7 {
      0%  {transform: rotate(0deg);}
      100%{transform: rotate(-360deg);}	
    }

    @keyframes spin8 {
      0%  {transform: rotate(0deg);}
      100%{transform: rotate(360deg);}	
    }
</style>

<style  lang="less" scoped>
    @import "dialog.less";
</style>

<script type="text/ecmascript-6" lang="babel">
    export default {
    };
</script>