<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>bax-assets</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but bax-assets doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <form id="CaptureForm" name="CaptureForm" onsubmit="return false;" hidden>
      <!-- Account Fields -->
      <input type="text" id="vablet_AccountName" />
      <input type="text" id="vablet_AccountId" />
      <input type="text" id="vablet_Country" />
      <input type="text" id="vablet_City" />
      <input type="text" id="vablet_State" />
      <!-- Asset JSON -->
      <input type="text" id="vablet_AssetJSON" />
      <input type="text" id="vablet_Notes" />
    </form>
    <!-- built files will be auto injected -->
  </body>
</html>
