<template>
  <div>
    <h1>{{ $t('headAccount') }}</h1>
    <v-autocomplete
      v-model="curItem"
      :items="items"
      :get-label="getLabel"
      :component-item="template"
      :input-attrs="inputAttrs"
      :keep-open="true"
      :auto-select-one-item="false"
      :min-len="0"
      @update-items="updateItems"
      @item-selected="itemSelected">
    </v-autocomplete>
  </div>
</template>

<script>
import {searchAccounts} from '@/util'
import AccountTemplate from './AccountTemplate.vue'
import _ from 'lodash'

export default {
  name: 'account-list',
  props: {
    sfData: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      item: {
        Account: {},
        Assets: []
      },
      items: [],
      template: AccountTemplate,
    }
  },
  computed: {
    inputAttrs () {
      return {
        placeholder: this.$t('lblSearchAccounts')
      }
    },
    curItem: {
      get () {
        return this.item
      },

      set (val) {
        if (!val) return {}
        this.item = val
      }
    }
  },
  methods: {
    getLabel (item) {
      return item.Account.Name
    },
    updateItems (text) {
      let accountList = this.sfData
      accountList = _.sortBy(accountList, 'Account.Name')
      // Resolve entire account list if no text supplied.

      const searchString = text.toLowerCase()
      
      // Search is longer than 1 char
      if (searchString.length > 1) {
        // Loop through and tag any matching fields
        for (var i=0; i < accountList.length; i++) {
          const account = accountList[i].Account
          const name = account.Name.toString().toLowerCase()
          const parentName = account.ParentName.toString().toLowerCase()
          const id = account.Id.toString().toLowerCase()
          // const country = account.Country.toString().toLowerCase()

          console.log((name + id + parentName))
          console.log((name + id + parentName).includes(searchString))

          const includesText = (name + id + parentName).includes(searchString)
          // String found in search so add matched flag to asset
          if (includesText) {
            this.$set(accountList[i], '__searchMatched', true)
          } else {
            this.$set(accountList[i], '__searchMatched', false)
          }
        }
        // Set list to asset order desc by matched first
        this.items = _.filter(accountList, '__searchMatched', 'desc')
      } else {
        // No Search String so just return entire list
        this.items = accountList
      }

      
      

      
    

      // Filter results based on search string
      // let results = _.filter(accountList, (o) => {
      //   const name = o.Account.Name.toString().toLowerCase()
      //   const id = o.Account.Id.toString().toLowerCase()
      //   const country = o.Account.Country.toString().toLowerCase()
        
      //   const searchString = text.toLowerCase()
      //   return (name + id + country).includes(searchString)
      // })
      
      // // Nothing found so resolve AccountList
      // if (results.length > 0) {
      //   this.items = results
      // } else {
      //   this.items = accountList
      // }
    },

    itemSelected (item) {
      // Only select item if it has assets
      if (item.Assets.length > 0) {
        this.$emit('account-selected', item)
      }
    }
  },
  mounted () {
    this.updateItems('')
  }
}
</script>