<template>
  <div :class="{'is-matched': isMatched}">
    <b class="account-name">{{ item.Account.Name }}</b> ({{assetCount}})<br/>
    <span v-if="item.Account.ParentName && item.Account.ParentName.length > 0">
      {{ $t('lstParentName') }}: {{item.Account.ParentName}}
      <br/>
    </span>
    <span>{{ $t('lstAddress') }}: {{item.Account.City}}, {{item.Account.State}}, {{item.Account.Country}}</span>
    <!-- <abbr>
      {{ $t('lstAccountID')}}: {{item.Account.Id}}
    </abbr> -->
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
    searchText: { default: '' }
  },

  computed: {
    isMatched () {
      return !!this.item.__searchMatched
    },
    assetCount () {
      // asset or assets based on plurality
      const assetWord = this.item.Assets.length === 1 ? this.$t('lstAsset') : this.$t('lstAssets')
      
      return this.item.Assets.length + ' ' + assetWord
    }
  }
}
</script>

<style lang="stylus">
  .is-matched
    b.account-name
      color blue
</style>
