<template>
  <div :class="{'is-matched': isMatched}">
    <b class="product-name">{{ item.Product2["Name"] }}</b>
    <!-- <br/> -->
    <!-- <span class="category-name">{{ $t('lstCategory') }}: {{item.BST_Main_Product_Category__c}}</span> -->

    <br/>
    <span>{{ $t('lstInstallDate') }}: {{item.InstallDate}}</span>
    
    <br/>
    <span>{{ $t('lstModel') }}: {{item.BST_Model_ID__c}}</span>
    
    <br/>
    <!-- <abbr>
      {{ $t('lstProductID') }}: {{item.Product2Id}}
    </abbr> -->
    <abbr>
      {{ $t('lstSerial') }}: {{item.SerialNumber}}
    </abbr>
    <abbr class="notes" v-if="hasNotes">
      <b>{{ $t('lstNotes') }}:</b>
      {{item.notes}}
    </abbr>
    <asset-status :asset="item" />
  </div>
</template>

<script>
import AssetStatus from './AssetStatus'
export default {
  components: {
    AssetStatus
  },
  props: {
    account: { required: true },
    item: { required: true },
    searchText: { default: '' }
  },
  computed: {
    isMatched () {
      return this.item.__searchMatched
    },
    hasNotes () {
      return !!this.item.notes
    },
    dates () {
      return 'ProductId: ' + this.item.Product2Id + '<br/>Serial Number: ' + this.item.SerialNumber
    }
  }
}
</script>

<style lang="stylus">
  .is-matched
    b.product-name
      color blue
  
  .category-name
    color #222
    font-weight: 200
  
  .notes
    white-space pre-line
    margin-top 0.5em
</style>