<template>
  <div>
    <h1>{{ $t('headProduct') }}</h1>
    <div class="v-autocomplete">
      <div class="v-autocomplete-input-group v-autocomplete-selected">
        <input v-model="searchString" :placeholder="inputAttrs.placeholder" class="v-autocomplete-input" type="search">
        <category-filter @change-category="changeCategory" :categories="categories"></category-filter>
      </div>
      <div class="v-autocomplete-list asset-list">
        <div v-for="(asset) in filteredAssets"
          :key="asset.SerialNumber"
          class="v-autocomplete-list-item">
          <asset-template :key="asset.SerialNumber" :account="selectedAccount.Account" :item="asset" :search-text="searchString"></asset-template>
        </div>
      </div>
    </div>
    <!-- <v-autocomplete
      v-model="curItem"
      :items="items"
      :get-label="getLabel"
      :component-item="template"
      :input-attrs="inputAttrs"
      :keep-open="true"
      :min-len="0"
      @update-items="updateItems"> -->
      <!-- @item-selected="itemSelected"> -->
    <!-- </v-autocomplete> -->
  </div>
</template>

<script>
import {searchAssets} from '@/util'
import AssetTemplate from './AssetTemplate.vue'
import CategoryFilter from './CategoryFilter.vue'
import _ from 'lodash'

export default {
  components: {
    AssetTemplate,
    CategoryFilter
  },
  props: {
    selectedAccount: { required: true }
  },
  data () {
    return {
      searchString: '',
      category: '',
      item: {},
      items: [],
      template: AssetTemplate
    }
  },
  computed: {
    inputAttrs () {
      return {
        placeholder: this.$t('lblSearchProducts')
      }
    },
    curItem: {
      get () {
        return this.item
      },

      set (val) {
        if (!val) return {}
        this.item = val
      }
    },

    selectedAssets () {
      if (this.selectedAccount.Assets.length > 0) {
        let account = this.selectedAccount.Account
        let assets = this.selectedAccount.Assets

        // Loop through and tag any matching fields
        for (var i=0; i < assets.length; i++) {
          let asset = assets[i]
          const name = asset.Product2["Name"].toString().toLowerCase()
          const serialNum = asset["SerialNumber"].toString().toLowerCase()
          const modelNum = asset["BST_Model_ID__c"].toString().toLowerCase()
          const searchString = this.searchString.toLowerCase()

          if (searchString.length > 1) {
            // console.log('Searching assets for: ' + searchString)
            const includesText =  (name + serialNum + modelNum).includes(searchString)
            // console.log((name + serialNum + modelNum) + ' -> ' + includesText)
            // String found in search so add matched flag to asset
            // use vm.$set for reactivity
            if (includesText) {
              this.$set(asset, '__searchMatched', true)
            } else {
              this.$set(asset, '__searchMatched', false)
            }
          } else {
            this.$set(asset, '__searchMatched', false)
          }
        }
        return _.orderBy(assets, '__searchMatched', 'desc')
      }
      return []
    },

    filteredAssets () {
      if (this.category === '' || this.category === this.$t('lblAllCategories')) {
        return this.selectedAssets
      } else {
        let assets = this.selectedAssets
        return _.filter(assets, ['BST_Main_Product_Category__c',this.category])
      }
    },

    categories () {
      let catList = _.chain(this.selectedAssets)
                      .uniqBy('BST_Main_Product_Category__c')
                      .map('BST_Main_Product_Category__c')
                      .sort()
                      .value()
      catList.unshift(this.$t('lblAllCategories'))
      return catList
    }
  },
  methods: {
    getLabel (item) {
      return item.Product2["Name"]
    },
    changeCategory (category) {
      this.category = category
    },
    updateItems (text) {
      // searchAssets(text, this.accountId).then( (response) => {
      //   // console.log(response)
      //   this.items = response
      //   // debugger;
      // })
    },

    itemSelected (item) {
      this.$emit('asset-selected', item)
    }
  },
  created () {
    this.updateItems('')
  }
}
</script>
