<template>
  <div class="asset-status">
    <button :class="{'active': assetInUse}" data-status="Active" @click="setActive">{{ $t('stsInUse') }}</button>
    <button :class="{'active': assetMissing}" data-status="Missing" @click="setActive">{{ $t('stsMissing') }}</button>
    <button :class="{'active': assetDiscarded}" data-status="Discarded" @click="setActive">{{ $t('stsDiscarded') }}</button>
    <button class="btn-note" @click="$root.$emit('show-note', asset)">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
      <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
      <g><path d="M756,886.4c0,18.8-15.3,34-34,34H84.9c-18.8,0-34-15.3-34-34V113.6c0-18.8,15.3-34,34-34H722c18.8,0,34,15.3,34,34h40.8c0-41.3-33.6-74.9-74.9-74.9H84.9C43.6,38.7,10,72.3,10,113.6v772.9c0,41.3,33.6,74.9,74.9,74.9H722c41.3,0,74.9-33.6,74.9-74.9v-168h-40.8L756,886.4L756,886.4z"/><path d="M976.5,196c-1.2-1.7-2.6-3.2-4.2-4.4c-1.2-0.9-29.3-22.5-60.5-37.7c-9.3-4.5-18.7-6.8-28-6.8c-27.2,0-42.1,19.3-44.1,22l-36.3,52.4c-0.1,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.3,0.3L554,616c-1.2,1.9-1.7,3.9-2.3,5.9c-0.1,0.4-0.5,0.7-0.5,1.1l-28.5,149c-1.5,8,1.9,16.2,8.6,20.8c3.4,2.3,7.4,3.5,11.4,3.5c3.8,0,7.7-1.1,11.1-3.2l126-81.1c1.3-0.8,2-2.2,3.1-3.3c0.9-0.9,2.1-1.4,2.9-2.6l261.9-394.2c8.8-12.9,29.1-42.8,36.6-55.1C1000,230.7,978.9,199.5,976.5,196z M873,192.7c0.1-0.1,9.2-7.8,20.9-2.1c22.1,10.8,43.3,25.8,50.7,31.3c2.7,4.8,5.2,11.5,4.7,13.6c-5.3,8.7-18.4,28.2-28.1,42.5l-72.5-50.1L873,192.7z M898.4,311.9L663.2,666l-64.3-44.8l227.2-359.4L898.4,311.9z M571.7,732.9l13.6-71.2l46.6,32.4L571.7,732.9z"/><path d="M656.6,246.5c0-11.3-9.1-20.4-20.4-20.4H124.8c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4,20.4,20.4h511.3C647.4,266.9,656.6,257.8,656.6,246.5z"/><path d="M510.9,449.2c0-11.3-9.1-20.4-20.4-20.4H124.8c-11.3,0-20.4,9.1-20.4,20.4c0,11.3,9.1,20.4,20.4,20.4h365.7C501.7,469.7,510.9,460.5,510.9,449.2z"/><path d="M124.8,632.8c-11.3,0-20.4,9.1-20.4,20.4c0,11.3,9.1,20.4,20.4,20.4h220c11.3,0,20.4-9.1,20.4-20.4c0-11.3-9.1-20.4-20.4-20.4H124.8z"/></g>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: 'asset-status',
  props: {
    asset: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      status: 'In Use'
    }
  },
  computed: {
    assetInUse () { return this.asset.status === 'Active'},
    assetMissing () { return this.asset.status === 'Missing'},
    assetDiscarded () { return this.asset.status === 'Discarded'}
  },
  methods: {
    setActive (e) {
      // Get status from button inner text
      const status = e.target.dataset.status
      this.status = status
      // Set asset status
      this.$set(this.asset, 'status', status)
    }
  }
}
</script>

<style lang="stylus" scoped>
  .asset-status
    margin 10px -10px -10px
    display flex
    button
      display inline-block
      border none
      outline none
      border-top 1px solid #252969
      border-right 1px solid #252969
      margin 0
      width 30%
      height 40px
      font-size 16px
      font-variant small-caps
      background rgba(0,0,100,0.05)
      &.active
        background #252969
        color white
      &.btn-note
        width calc(10% - 2px)
        border-right none
        color blue
      svg
        height 30px
        margin-top 5px
</style>

