<template>
  <div class="category-filter inline">
    <label for="CategoryFilter">{{ $t('lblMainProductCategory') }}</label>
    <select id="CategoryFilter" v-model="value" @change="emitChange" class="category-filter-select">
      <option
        v-for="category in categories"
        :key="category"
        :value="category">
        {{ category }}
      </option>
    </select>
    
  </div>
</template>

<script>
export default {
  name: 'category-filter',
  components: {},
  props: {
    categories: {
      type: Array,
      default: ['All Categories']
    }
  },
  data () {
    return {
      value: 'All Categories'
    }
  },
  created () {
    this.value = this.$t('lblAllCategories')
  },
  computed: {},
  methods: {
    emitChange () {
      this.$emit('change-category', this.value)
    }
  }
}
</script>

<style lang="stylus" scoped>
  .category-filter
    border-bottom 1px solid silver
    .category-filter-select
      width 100%
      font-size 16px
      height 40px
    label
      padding 10px
      line-height 30px
      color #252969
      font-weight bold
    &.inline
      text-align right
      padding-right 10px
      .category-filter-select
        display inline-block
        width auto
        font-size 16px
        height 40px
      label
        display inline-block
        padding 10px
        line-height 30px
        color #252969
        font-weight bold
</style>