<template>
  <div>
    <b>{{ item.Name }}</b><br/>
    <span>Account: {{item.Id}}</span>
    <abbr v-text="description"/>
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
    searchText: { default: '' }
  },
  computed: {
    description () {
      return 'Country: ' + this.item.BST_COUNTRY__c
    }
  }
}
</script>