<template>
  <div class="submit-asset-wrap">
    <h1>Add Notes</h1>
    <div class="asset-notes">
      <textarea placeholder="Product notes" v-model="getNotes"></textarea>
    </div>
    <div class="v-autocomplete">
      <div class="v-autocomplete-list">
        <summary-template
          :account="account"
          :asset="asset" />
      </div>
    </div>
  </div>
</template>

<script>
import AccountTemplate from '@/components/AccountTemplate'
import AssetTemplate from '@/components/AssetTemplate'
import SummaryTemplate from '@/components/SummaryTemplate'

export default {
  name: 'submit-asset',
  components: {
    AccountTemplate,
    AssetTemplate,
    SummaryTemplate
  },
  props: {
    asset: { required: true },
    account: { required: true }
  },
  data () {
    return {
      notes: ''
    }
  },
  computed: {
    getNotes: {
      get () {
        return this.notes
      },
      set (val) {
        this.notes = val
        this.$emit('update-note', this.notes)
        document.getElementById('vablet_Notes').value = this.notes
      }
    }
  },
  methods: {},
  mounted () {
    document.getElementById('vablet_AccountName').value = this.account.Name
    document.getElementById('vablet_AccountId').value = this.account.Id
    document.getElementById('vablet_Country').value = this.account.BST_COUNTRY__c
    document.getElementById('vablet_City').value = this.account.BillingCity
    document.getElementById('vablet_State').value = this.account.BillingState
    document.getElementById('vablet_ProductName').value = this.asset.Product2['Name']
    document.getElementById('vablet_SerialNumber').value = this.asset.SerialNumber
    document.getElementById('vablet_ModelId').value = this.asset.BST_Model_ID__c
    document.getElementById('vablet_InstallDate').value = this.asset.InstallDate
    document.getElementById('vablet_ShippingDate').value = this.asset.BST_Shipped_Received_Date__c
    document.getElementById('vablet_Notes').value = this.notes
  }
}
</script>

<style lang="stylus">
  .asset-notes
    background blue
    width 100vw
    height calc(100vh - 460px)
    textarea
      margin 0
      padding 10px
      border 1px solid #252969
      box-shadow none
      outline none
      box-sizing border-box
      width 100vw
      height calc(100vh - 460px)
</style>