<template>
  <div class="v-autocomplete-list-item">
    <p>
      <h3>{{ $t('ttlAccount') }}</h3>
      <b>{{ account['Name'] }}</b>
      <br/>
      <abbr v-html="address"/>
    </p>
    <p>
      <h3>{{ $t('ttlProduct') }}</h3>
      <b>{{ asset.Product2["Name"] }}</b>
      <br/>
      <span>{{ $t('lstModel') }}: {{asset.BST_Model_ID__c}}</span>
      <br/>
      <span>{{ $t('lstSerial') }}: {{asset.SerialNumber}}</span>
      <br style="margin-bottom:.5em;"/>
      <abbr v-html="dates"/>
    </p>
    <p>
      <h3>{{ $t('ttlLocation') }}</h3>
      <b>{{ location }}</b>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    account: { required: true },
    asset: { required: true }
  },
  computed: {
    // account () {
    //   this.$parent.$parent.$data.selectedAccount.Account
    // },
    address () {
      let address = ''
      if (this.account['BillingCity'] && this.account['BillingState']) {
        address += this.account['BillingCity'] + ', ' + this.account['BillingState'] + '<br/>'
      }

      if (this.account['BST_COUNTRY__c']) {
        address += this.account['BST_COUNTRY__c']
      }
      return address
    },
    dates () {
      return this.$t('lstInstallDate') + ': ' + this.asset.InstallDate + '<br/>' + this.$t('lstShippingDate') + ': ' + this.asset.BST_Shipped_Received_Date__c
    },
    location () {
      if (this.asset.hasOwnProperty('BST_Location__c')) {
        return this.asset.BST_Location__c
      } else {
        return 'Not Available'
      }
    }
  }
}
</script>